.left_sidebar{
    padding: 15px;
    width: 35%;
    height: 550px;
    background-color: cornflowerblue;
}
.left_sidebar h1{
    text-align: center;
}
.left_sidebar label{
    font-size: 23px;
}
.left_sidebar input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 26px;
}
.left_sidebar input[type=range]{
    width: 100%;
    padding: 10px;
    font-size: 26px;
}
.left_sidebar input[type=color]{
    width: 100%;

}